body{
    background: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Kumbh Sans', sans-serif;
}

hr{
    width: 100%;
    background: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-bottom: 4%;
    margin-top: 4%;    
}

h2{
    font-weight: 700;
    color: hsl(237, 12%, 33%);
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.another-div{
    position: relative;
}

.main-div{
    height: 500px;
    width: 950px;
    font-size: 24px;
    background-color: azure;
    display: flex;
    border-radius: 20px;
    box-shadow: 15px 30px 130px black;
    overflow: hidden;    
}

.IMG-DIV, .FAQ-DIV{
    width: 50%;  
}

.FAQ-DIV{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
}

.FAQ-QUESTIONS{
    display: flex;
    justify-content: space-between; 
    background-color: azure;
    border: none;
    outline: none;
    padding: 0;
}
.FAQ-RELATIVE-DIV{
    position: relative;
}
/* position and right test */
.button-div{
    display: flex;
    align-items: center;
    transition: 0.4s;
    position: absolute;
    right: 0px;
}

.question-text{
    margin: 0px;
    color: hsl(237, 12%, 33%);
}

.question-text:hover{
    color: hsl(14, 88%, 65%);
    transition: 0.4s;
}

.hidden-answer{
    transition: 0.4s;
    margin-top: 0px;
    opacity: 0;
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 400;
    display: none;
    color: hsl(240, 6%, 50%);
    line-height: 20px;
}


.illustration-box{
    position: absolute;
    z-index: 3;
    top: 235px;
    right: 857px;
    transition: 0.4s
}

#desktop-design{
    position: relative;
    bottom: 640px;
    right: 550px;
    z-index: 1;
}

#woman-picture{
    position: relative;
    top: 80px;
    right: 75px;
    z-index: 2;
}


.desktop-img-design{
    width: 200%;
}

/* Event Listener Classes*/

.question-text-clicked{  
  font-weight: bold;
}

.button-div-clicked{
    transform: rotate(180deg);
}

.hidden-answer-click{
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline;
}

.illustration-box-clicked{
   top: 200px;
}

/*Hidden Elements - Desktop view*/

#woman-picture-mobile{
    display: none;
}

#desktop-design-mobile{
    display: none;
}

/*Media Queries - Mobile */

@media (max-width: 800px){

    body{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    hr{
        margin-top: 7%;
        margin-bottom: 7%;
    }

    h2{
        text-align: center;
    }
    .main-div{
        height: 550px;
        width: 375px;
        font-size: 24px;
        background-color: azure;
        display: flex;
        border-radius: 20px;
        box-shadow: 15px 30px 130px black;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        
    }

    .IMG-DIV, .FAQ-DIV{
        width: 80%;  
        display: flex;
        justify-content: center;
        
    }

    .FAQ-DIV{
        padding-left: 13.4%;
    }

    .IMG-DIV{
        height: 15%;
    }

    #woman-picture{
        display: none;
    }

    #desktop-design{
        display:none;
    }

    #woman-picture-mobile{
        display: inline;
        position: absolute;
        bottom: 455px;
        right: 70px;
        z-index: 2;
    }

    #desktop-design-mobile{
        display: inline;
        position: absolute;
        bottom: 430px;
        right: 188px;
        width: 35%;
        z-index: 1;
    }

 
}