body{
    background: linear-gradient( hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Kumbh Sans', sans-serif;
}


hr{
    background-color: hsl(240, 5%, 91%);
    height: 1px;
    border: none;
    margin-bottom: 4%;
    margin-top: 4%;  
}

h2{
    font-weight: 700;
    color: hsl(237, 12%, 33%);
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.another-div{
    position: relative;
}

.main-div{
    height: auto;
    width: 950px;
    font-size: 24px;
    background-color: white;
    display: flex;
    border-radius: 20px;
    box-shadow: 9px 23px 100px #383838;
    overflow: hidden;    
}



.IMG-DIV, .FAQ-DIV {
    width: 50%;
    position: relative;    
}

.IMG-DIV{
    padding-bottom: 170px;
}

.FAQ-DIV{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
}

.FAQ-QUESTIONS{
    display: flex;
    justify-content: space-between; 
    background-color: white;
    border: none;
    outline: none;
    padding: 0;
}

.FAQ-QUESTIONS:hover{
    cursor: pointer;
}
.FAQ-RELATIVE-DIV{
    position: relative;
}
/* position and right test */
.button-div{
    display: flex;
    align-items: center;
    transition: 0.4s;
    position: absolute;
    right: 0px;
}

.question-text{
    margin: 0px;
    color: hsl(237, 12%, 33%);
}

.question-text:hover{
    color: hsl(14, 88%, 65%);
    transition: 0.4s;
}

.hidden-answer{
    transition: 0.4s;
    margin-top: 0px;
    opacity: 0;
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 400;
    display: none;
    color: hsl(240, 6%, 50%);
    line-height: 20px;
}


.illustration-box{
    position: absolute;
    z-index: 3;
    top: 235px;
    right: 857px;
    transition: 0.4s
}

#desktop-design{
    position: absolute;
    z-index: 1;
}

#woman-picture{
    position: relative;
    top: 80px;
    right: 75px;
    z-index: 2;
}


.desktop-img-design {
    width: 220%;
      position: relative;
      right: 640px;
      bottom: 680px;
  }

/* Event Listener Classes*/

.question-text-clicked{  
  font-weight: bold;
}

.button-div-clicked{
    transform: rotate(180deg);
}

.hidden-answer-click{
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 15px;
    display: inline;
}

.illustration-box-clicked{
   top: 200px;
}

/*Hidden Elements - Desktop view*/

#woman-picture-mobile{
    display: none;
}

#desktop-design-mobile{
    display: none;
}

/*Media Queries - Mobile */

@media (max-width: 967px){

    body{
        padding-top: 180px;
        padding-bottom: 180px;
    }

    hr{
        margin-top: 7%;
        margin-bottom: 7%;
    }

    h2{
        text-align: center;
    }
    .main-div{
        width: 350px;
        font-size: 24px;
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        overflow: visible;
        justify-content: center;
        align-items: center;
        
    }

    .IMG-DIV, .FAQ-DIV{
        width: 80%;  
        display: flex;
        justify-content: center;
        
    }

    .IMG-DIV{
        padding-bottom: 110px;
    }

    .FAQ-DIV{
        padding-left: 13.4%;
        padding-bottom: 40px;
    }

    #woman-picture{
        display: none;
    }

    #desktop-design{
        display:none;
    }

    #woman-picture-mobile{
        display: inline;
        position: absolute;
        right: 25px;
        bottom: 13px;
        z-index: 2;
    }

    #desktop-design-mobile{
        display: inline;
        position: absolute;
        width: 35%;
        z-index: 1;
        right: 165px;
    }

 
}